html {
	background-color: #131313;
}

.container {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.pokemon {
	display: flex;
	align-items: center;
}

.pokemon__options {
	width: 320px;
	height: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-right: 50px;
}

.pokemon__option {
	cursor: pointer;
	margin: 2px;
}

.pokemon__img {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	margin-bottom: 5px;
}

.pokemon__info {
	padding: 5px 30px;
	width: 300px;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: black;
	box-sizing: border-box;
}

.pokemon__description {
	color: gainsboro;
	font-size: 12px;
}

.pokemon__title {
	color: gainsboro;
	font-size: 25px;
}